$color: blue;

$base-menu-width: 300px;
$base-menu-background: #ffffff;

$base-tabbar-height: 50px;
$base-tabbar-background: rgb(240, 240, 240);

$base-menu-logo-height: 50px;

$base-logo-title-font-size: 20px;
